extends ../base.jade
block content
  .row
    .col-md-12
      h1.dashheader.text-center
        | What is your story?
    include ../partials/form_editor

block scripts
  script(type="text/javascript" src="assets/js/editor.js")