- var prettyDate = function (date, startDate) {
-   var secs = Math.floor((date.getTime() - startDate.getTime()) / 1000);
-   if (secs < 60) return secs + " sec(s) ago";
-   if (secs < 3600) return Math.floor(secs / 60) + " min(s) ago";
-   if (secs < 86400) return Math.floor(secs / 3600) + " hour(s) ago";
-   if (secs < 604800) return Math.floor(secs / 86400) + " day(s) ago";
-   return date.toDateString();
- };

extends ../base.jade
block content
  .row.paper-bg
    .col-md-12
      h1.dashheader.text-center
        | Notes Archive
    .col-md-12
      section#notes
        if !posts || posts.length == 0
          div.post
            h3.noPosts You currently have no posts.
        else
          each val in posts
            div.post
              p.title Post Title: #{val.title}
              p.datePosted Date Posted: #{val.postDate}
              p.lastUpdated Last Updated: #{val.lastUpdated.toLocaleDateString()}
              p.postContents Contents: !{val.contents}

block scripts
  script(type="text/javascript" src="assets/js/notes.js")